.box {
  border: 1px solid red;
}

.select {
  margin-top: 20px;
}

*{
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

h1 {
  text-align: center;
}

.box {
  width: 1000px;
  margin: 0 auto;
}

.input{
  display: flex;
  justify-content: space-around;
  font-size: 16px;
}

.input span {
  display: inline-block;
  width: 40px;
  height: 22px;
  margin: 0 5px;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
  border-bottom: solid 2px black;
  color: transparent;
}

.input span.show {
  color: black;
}

.input span.active {
  background-color: #b2e9fa;
  border-color: #4e71f2;
  /*border: solid 2px #4e71f2;*/
}

.select {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.select li {
  cursor:pointer;
}

input[type="text"] {
  width: 100px;
}

button {
  display: block;
}
